extends ./assets/_template
block page
  - var page = 'blog';
block div
    div
        header.header
            h1.header-logo ゆーさいと
            nav.header-nav
                ul.header-list
                    li: a.header-item(href="https://yu256.net/") ホーム
                    li#header-currentitem: a#currentlink(href="https://yu256.net/blog") ブログ
                    li: a.header-item(href="") TODO
                    li: a.header-item(href="") TODO
        main.main
            h2.title TODO