extends ./assets/_template
block page
  - var page = 'home';
block main
    main
        h2.title About
        p.space ゆーのホームページです。HTMLとCSSの勉強を兼ねて（あとなんか面白そうだったのでPugも）SSGなし縛りで作ってみているだけのサイトです。<br>備忘録とかいろいろ書いていくところにしたい。
        h2.title SNSアカウント
        div.space
            p.sns
                i.fa.fa-activitypub(aria-hidden="true")
                |  ActivityPub
            p.link あかつきー（Misskeyフォークの自鯖）
            ul.ul1: li.li1: a(rel="me" href="https://yumk.xyz/@y") @y@yumk.xyz
            p.link Misskey.io
            ul.ul1
                li.li1
                    a(rel="me" href="https://misskey.io/@yu2") @yu2@misskey.io
            p.link その他
            ul.ul1
                li.li1: a(rel="me" href="https://beta.romneko.net/@y") @y@beta.romneko.net
                li.li1: a(rel="me" href="https://submarin.online/@yu") @yu@submarin.online
                li.li1: a(rel="me" href="https://misskey.m544.net/@yu1") @yu1@misskey.m544.net
            p.sns
                i.fa.fa-twitter(aria-hidden="true")
                |  Twitter
            ul.ul1
                li.li1
                    a(rel="me" href="https://twitter.com/yu256tw") @yu256tw
            p.sns
                i.fa.fa-github(aria-hidden="true")
                |  GitHub
            ul.ul1
                li.li1
                    a(rel="me" href="https://github.com/yu256") @yu256
            p.sns
                i.fa.fa-keybase(aria-hidden="true")
                |  Keybase
            ul.ul1
                li.li1
                    a(rel="me" href="https://keybase.io/yu1024") @yu1024
            p.sns
                i.fa.fa-youtube-play(aria-hidden="true")
                |  YouTube
            ul.ul1
                li.li1
                    a(href="https://www.youtube.com/@yu_1024") @yu_1024
            p.sns
                i.fa.solid.fa-envelope(aria-hidden="true")
                |  email
            ul.ul1
                li.li1
                    a(href="mailto:yu@yu256.net") yu@yu256.net
        h2.title 干し芋のリスト
        div.space あとでかく
