header.header
    h1.header-logo ゆーさいと
    nav.header-nav
        ul.header-list
            li: a.header-item(href="https://yu256.net/") ホーム
            li: a.header-item(href="https://yu256.net/blog") ブログ
            li: a.header-item(href="") TODO
            li: a.header-item(href="") TODO