header
    div
        h1
            a(href="https://yu256.net/") ゆーねっと
        nav(id="js-nav")
            ul
                li: a(href="https://yu256.net/") ホーム
                li: a(href="https://yu256.net/blog") ブログ
                li: a(href="") TODO
                li: a(href="") TODO
        button.hamburger.active(id="js-hamburger")
            span
            span
            span