header
    div
        h1
            a(href="https://yu256.net/") ゆーねっと
        nav(id="js-nav")
            ul
                li: a(href="https://yu256.net/"): i.fa.fa-home &nbsp;&nbsp;ホーム
                li: a(href="https://yu256.net/blog"): i.fa.fa-pencil-square-o ブログ
                li: a(href="") TODO
                li: a(href="") TODO
        button(id="js-hamburger")
            span
            span
            span