-
  var meta = {
    "home": {
      "title": "ゆーねっと",
      "description": "ゆーのサイトです。備忘録やSNSへのリンクなどを書いておく場所。",
      "keywords":"ゆーねっと",
      "url":"https://yu256.net/"
    },
    "blog": {
      "title": "ゆーのブログ",
      "description": "ゆーのブログの一覧ページです。",
      "keywords":"ゆーねっと",
      "url":"https://yu256.net/blog"
    }
  };