@import './variables';

@font-face {
  font-family: 'ZenMaruGothic';
  src: url(/fonts/ZenMaruGothic-Regular.ttf) format('truetype');
}

body {
  margin: 0;
  font-size: 1.2em;
  font-family: 'ZenMaruGothic', sans-serif;
  color: var(--text);
  background-color: var(--background);

  &._themeChanging_ {
    transition: background-color 1s ease, color 1s ease !important;
  }
}

a {
  text-decoration: none;
  color: var(--link);
}

main {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 2em;
  margin: 20px;
  border-radius: 70px;
  background: var(--title-bg);
  color: var(--title-fg);
  box-shadow: 18px 18px 35px var(--title-bottom-shadow), -18px -18px 35px var(--title-top-shadow);
}
