main {
  background-color: var(--backgroundLighted);
  box-shadow: 0 20px 10px -6px var(--shadow);
  h1 {
    color: #6594e0;
    border-bottom: dashed 2.5px #6594e0;
    font-size: 1.5em;
    padding: 5px;
  }
  h2 {
    margin: 10px;
    line-height: 1.6em;
  }
  img {
    display: block;
    margin: 5px;
  }
}
p {
  border-bottom: 1px dashed #000;
  padding-bottom: 10px;
  margin-top: 4px;
}
.date {
  display: inline-block;
  border-radius: 15%;
  background-color: var(--backgroundLighted);
  padding: 5px;
  margin: 0.5em;
  margin-left: 1.5em;
}
